.formContainer {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #d7d7d7;
  width: 500px;
  height: 280px;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 30px;
}

.wrap {
  height: 60px;
  margin-bottom: 5px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.submitButton:hover {
  background-color: inherit;
}

.submit {
  fill: #0056b3;
  width: 60px;
  height: 60px;
}

.submit:hover {
  fill: #004998;
}

.user {
  position: absolute;
  top: 19%;
  left: 6%;
  fill: #00986a;
}

.phone {
  position: absolute;
  top: 51%;
  left: 6%;
  fill: #00986a;
}
